//Variables

    //Screen size
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1080px;

    //Colors
    $black: #212121;
    $white: #F5F5F5;
    $blue: #A4C7E0;
    
//Default sizing
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
}

//Global styles
body{
    background-color: $white;
}

h1, 
h2,
h3, 
h4, 
h5, 
h6{
    font-family: audrey-bold;
    font-weight: 400;
}

a, p, input{
    font-family: helvetica-neue;
}

li{
    list-style-type: none;
}