@use './variables' as *;

//Default sizing
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $black;
}

//Fonts
@font-face {
    font-family: "helvetica-neue";
    src: url('../../public/fonts/helvetica-neue-thin.ttf');
}
@font-face {
    font-family: "audrey-bold";
    src: url('../../public/fonts/Audrey-Normal.otf');
}

//Global styles
body{
    background-color: $white;
}

h1, 
h2,
h3, 
h4, 
h5, 
h6{
    font-family: audrey-bold;
    font-weight: 400;
}

a, p, input{
    font-family: helvetica-neue;
}

li{
    list-style-type: none;
}