@use './globals' as *;

header{
    display: flex;
    height: 6vh;
    padding: 2vh 1vh;
    align-items: center;
    justify-content: space-around;
    background-color: $blue;
    font-size: 1.5vh;

    a{
        text-decoration: none;
        h1{
            font-size: 2vh;
            color: $darker-blue;
        }
    }
    input[type="text"]{
        position: relative;
        background-color: $white;
        border: none; 
        padding: 0.5vh; 
        width: 20vw;
        &:focus{
            outline: none;
        }
    }
    .breadcrumbs{
        font-weight: 400;
        background-color: $darker-blue;
        color: $white;
        padding: 1vh 1vw 1vh 0.5vw;
        clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
        &__mobile{
            font-weight: 400;
            background-color: $gray-blue;
            padding: 1vh 1vw 1vh 1vw ;
            clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 46%, 0% 0%);
        }
    }
    .mobilesList{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $white;
        max-height: 10vh;
        overflow: auto;
        width: 20vw;
        &::-webkit-scrollbar{
            width: 1px;
          }
          a{
            width: 100%;
            background-color: $white;

            text-align: center;
            &:hover{
                background-color: $blue;
            }
          }
    }
}

@media (min-width: $tablet) {
    header{
    font-size: 1.8vh;
    }
}
@media (min-width: $desktop) {
    header{
    font-size: 2vh;
    }
}