@use './globals' as *;

a{
    width: fit-content;
    text-decoration: none;
}
.mobileList{
    width: 90%;
    margin: 2vh auto;

    &__heading{
        text-align: center;
        padding: 2vh 0;
    }

    &__content{
        display: grid;
        a{
        margin: 1vh auto;
        padding: 1vh;
        }
    }

    &__pagination{
        width: fit-content;
        margin: 0 auto;
    }
}


@media (min-width: $mobile) {
    .mobileList__content{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media (min-width: $tablet) {
    .mobileList__content{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: $desktop) {
    .mobileList__content{
        grid-template-columns: repeat(4, 1fr);
    }
}