@use './globals' as *;

.mobile-details{
    width: 90%;
    margin: 0 auto;
    padding: 2vh 0;

    &__heading{
        text-align: center;
    }

    &__wrapper{
        display: grid;
        
    }
    &__image{
        width: 50%;
        margin: 0 auto;
    }
    &__info{
        margin: 0 auto;
    }
    &__specs{
        background-color: $blue;
        padding: 2vh;
        border-radius: 0.5rem;
    }
    &__value{
        font-weight: 700;
        line-height: 3vh;
    }
   &__camera{
    display: flex;
        .mobile-details__camera--key{
            font-weight: 700;
        }
        .mobile-details__camera--value{
            font-weight: 400;
            margin-right: 5px;
            &::after{
                content: ", ";
            }
            &:last-of-type::after{
                content: "";
            }
        }
    }
    &__actions{
        display: flex;
        flex-direction: column;
    }
    &__selectors{
        width: 100%;
        margin: 2vh auto;
        display: flex;
        justify-content: space-around;
        select{
            background-color: $white;
            border: none;
            &:focus{
                outline: none;
            }
        }
    }

    &__button{
        color: $white;
        letter-spacing: 1px;
        width: 50%;
        margin: 2vh auto;
        border: none;
        background-color: $gray-blue;
        padding: 1vh;
        border-radius: 0.5rem;
        text-transform: uppercase;

    }
}

@media (min-width: $desktop) {
    .mobile-details{
        &__wrapper{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: $blue;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }